In [42]:
from faker import Faker
import hashlib
import random
import pandas as pd
from datetime import datetime

fake = Faker()
Faker.seed(10)


def generate_user_id():
    return random.randint(1, 100)


def generate_user_email():
    return fake.email()


def generate_encrypted_password(password):
    return hashlib.md5(password.encode()).hexdigest()


def generate_user_region():
    return fake.country()


def generate_created_at():
    return fake.date_time_between_dates(datetime_start=datetime(2018, 1, 1))


def generate_is_subscribed():
    return random.choice(['yes', 'no'])


class SubscriptionIDGenerator:
    def __init__(self):
        self.counter = 0

    def generate_subscription_id(self, is_subscribed):
        if is_subscribed == 'yes':
            self.counter += 1
            return self.counter
        else:
            return None


def generate_fake_data(subscription_generator):
    # user_id = generate_user_id()
    user_email = generate_user_email()
    password = fake.password()  # Generate a random password
    encrypted_pass = generate_encrypted_password(password)
    user_region = generate_user_region()
    created_at = generate_created_at()

    return {
        'User_Email': user_email,
        'User_Encrypted_Pass': encrypted_pass,
        'User_Region': user_region,
        'Created_At': created_at,
    }


# Create a single instance of SubscriptionIDGenerator
subscription_generator = SubscriptionIDGenerator()

# Generate sample data
fake_data = [generate_fake_data(subscription_generator) for i in range(500000)]  # Generate 40000 rows of data

# Create DataFrame without 'Is_Subscribed' and 'Subscription_id'
df_without_sub = pd.DataFrame(fake_data, columns=['User_Email', 'User_Encrypted_Pass', 'User_Region', 'Created_At'])

# Sort the DataFrame based on 'Created At'
df_without_sub.sort_values(by='Created_At', inplace=True)

# Resetting index after sorting
df_without_sub.reset_index(drop=True, inplace=True)

df_without_sub.insert(0, 'User_ID', range(1, len(df_without_sub) + 1))

def generate_fake_data_with_sub(df):
    is_subscribed_list = [generate_is_subscribed() for _ in range(len(df))]
    subscription_id_list = [subscription_generator.generate_subscription_id(is_sub) for is_sub in is_subscribed_list]

    df['Is_Subscribed'] = is_subscribed_list
    df['Subscription_ID'] = subscription_id_list

    return df


# Add 'Is_Subscribed' and 'Subscription_id'
df_with_sub = generate_fake_data_with_sub(df_without_sub)
df_with_sub

,User_ID,User_Email,User_Encrypted_Pass,User_Region,Created_At,Is_Subscribed,Subscription_ID
0,1,davidberry@example.net,ed1ebf9159f2e822d9e1793a1f80951e,Korea,2018-01-01 00:00:10,no,NaN
1,2,jameshoffman@example.com,a3126a4a8b9a796b4b9910fe73909e77,Ethiopia,2018-01-01 00:05:47,no,NaN
2,3,gomezbrian@example.org,fe8d1931042cae4bf9688538d568b640,Marshall Islands,2018-01-01 00:06:06,no,NaN
3,4,regina65@example.net,b304800777d561925c2740024d7fb79d,North Macedonia,2018-01-01 00:07:42,yes,1.0
4,5,corey66@example.org,46a8f719f003840437a6235e05cfe792,Lebanon,2018-01-01 00:24:01,no,NaN
...,...,...,...,...,...,...,...
499995,499996,meganphelps@example.net,ab3aba06f482a992fa9deff382beec36,Nigeria,2023-12-10 03:00:55,no,NaN
499996,499997,othomas@example.org,a99267553ff00cdb728758e10ac07c68,Saint Lucia,2023-12-10 03:02:19,no,NaN
499997,499998,jessica90@example.org,e1dfc29a138bedf269082e1d13c9154d,Belgium,2023-12-10 03:04:10,yes,249672.0
499998,499999,ericaferguson@example.com,d7550217e7502383483e874b14c336b4,Bermuda,2023-12-10 03:05:04,no,NaN
499999,500000,peterwells@example.com,660fa041dcbf3a95d98cc10dbbbe83ea,Hong Kong,2023-12-10 03:07:29,no,NaN

In [43]:
fake = Faker()
Faker.seed(10)
records = []
for i in range(1, 201):
    record = {
        'Artist_ID': i,
        'Artist_Name': fake.name()
    }
    records.append(record)

# Create a DataFrame
artists = pd.DataFrame(records)
artists

     Artist_ID          Artist_Name
0            1         Jessica Lane
1            2         Robert Colon
2            3        Caitlin Meyer
3            4       David Cisneros
4            5    Amanda Dalton DDS
..         ...                  ...
195        196            Tony Horn
196        197     Shawn Pierce DVM
197        198  William Manning DDS
198        199  Melissa Sanchez DDS
199        200         Jared Warner

[200 rows x 2 columns]

In [44]:
from datetime import datetime, timedelta
fake = Faker()
Faker.seed(10)
records = []
current_date = datetime.strptime('01/01/2018', '%d/%m/%Y')

for i in range(1, 501):
    # album_title = fake.word() if i % 3 != 0 else f'{fake.word()} {fake.word()}'
    album_title = f'{fake.word()} {fake.word()}' if fake.boolean()==False else fake.word()
    record = {
        'Album_ID': i,
        'Album_Title': album_title ,
        'Album_Release_Date': (current_date + timedelta(days=fake.random_int(min=1, max=2200))).strftime('%d/%m/%Y')
    }
    records.append(record)

# Create a DataFrame
albums = pd.DataFrame(records)
albums

     Album_ID            Album_Title Album_Release_Date
0           1            alone laugh         01/06/2023
1           2  administration design         11/03/2023
2           3              than fall         20/10/2019
3           4                   near         02/07/2023
4           5                    bag         21/10/2020
..        ...                    ...                ...
495       496            plant third         06/03/2019
496       497           number paper         29/09/2023
497       498                 player         28/11/2022
498       499                  money         11/10/2019
499       500                   such         11/11/2018

[500 rows x 3 columns]

With this it could be possible that album title is repeated, but that repeated album title would not have same release date, also even if the release date is somehow same, it would surely be new entry therefore different album ID.

In [45]:
! pip install faker_music
from faker_music import MusicProvider
# Create a Faker instance
Faker.seed(10)
fake = Faker()
fake.add_provider(MusicProvider)
Faker.seed(10)
# Faker.seed(10)
# Generate 50 track genres
random.seed(10)
track_genres = [fake.music_subgenre() for _ in range(50)]

# Generate 500 records
random.seed(10)
records = []
for i in range(1, 500000):
    # random.seed(10)
    track_genre = random.choice(track_genres)
    # random.seed(10)
    num_words = max(1, round(random.gauss(1, 0.5)))
    track_title = ' '.join(fake.words(nb=num_words))
    # random.seed(10)
    track_duration_minutes = round(max(2, min(5, random.gauss(3, 1))))
    # random.seed(10)
    track_duration_seconds = fake.random_int(min=0, max=59)
    
    record = {
        'Track_ID': i,
        'Track_Title': track_title,
        'Track_Genre': track_genre,
        'Track_Duration_Minutes': track_duration_minutes,
        'Track_Duration_Seconds': track_duration_seconds
    }
    records.append(record)

# Create a DataFrame
tracks_table = pd.DataFrame(records)
tracks_table

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: faker_music in c:\users\sujay\appdata\local\programs\python\python312\lib\site-packages (0.4)

,Track_ID,Track_Title,Track_Genre,Track_Duration_Minutes,Track_Duration_Seconds
0,1,number investment,Cowpunk,3,36
1,2,administration,Contemporary R&B,5,13
2,3,maintain,Experimental Rock,3,52
3,4,million,Contemporary Gospel,3,52
4,5,fall,Meditation,3,41
...,...,...,...,...,...
499994,499995,to fear,Mathcore,3,58
499995,499996,war food,Alternative Rock,2,2
499996,499997,image,Mathcore,2,38
499997,499998,avoid,Third Stream,2,0
499998,499999,return,Louisiana Swamp Pop,4,29

In [46]:
import numpy as np
def generate_podcasts_date(start_date, end_date, num):
    """
    Generates random dates within a specified range.

    Parameters:
    start_date (str): Starting date for generating the dates.
    end_date (str): Ending date for generating the dates.
    num (int): Number of dates to generate.

    Returns:
    list: List of formatted dates.
    """
    np.random.seed(50)  # Set the seed for numpy random
    random.seed(50)  # Set the seed for the built-in random module
    start_date = pd.to_datetime(start_date) + pd.DateOffset(days=np.random.randint(0, 1200))
    date_range = pd.date_range(start_date, end_date, freq='W')

    dates = [pd.to_datetime(date).strftime('%d/%m/%Y') for date in date_range]
    return dates



def generate_podcast_data(num_rows, podcast_title, start_date, end_date):
    np.random.seed(50)  # Set the seed for numpy random
    random.seed(50)  # Set the seed for the built-in random module
    podcast_data = []
    prev_title = ""
    prev_host = ""
    podcast_id = 0
    for _ in range(num_rows):
        np.random.seed(50)  # Set the seed for numpy random
        random.seed(50)
        title = np.random.choice([' '.join(fake.words(nb=max(3, round(random.gauss(3, 1))))) for _ in range(10)])
        if title != prev_title:
            host = np.random.choice([fake.name() for _ in range(50)])  # Change the host only if the title changes
        else:
            host = prev_host
        prev_title = title
        prev_host = host

        episodes = np.random.randint(3, 14)

        # if episodes < 1:
        #     episodes = 1

        episode_dates = generate_podcasts_date(start_date, end_date, episodes)
        for i in range(episodes):
            podcast_id += 1
            podcast_data.append({
                "Podcast_ID" : podcast_id,
                'Podcast_Title': title,
                'Episode_Number': i + 1,
                'Episode_Date': episode_dates[i],
                'Host_Name': host  
            })

    
    return podcast_data


np.random.seed(50)  # Set the seed for numpy random
random.seed(50)  # Set the seed for the built-in random module
#  500 podcast title
Faker.seed(10)

# Adjust the start and end dates for the podcast generation
start_date = '2018-01-01'
end_date = '2023-12-31'
num_rows = 500

podcast_titles = []
for _ in range(10):
    num_words = max(3, round(random.gauss(3, 1)))
    podcast_title = ' '.join(fake.words(nb=num_words))
    podcast_titles.append(podcast_title)
# print(podcast_titles)

# Generate the podcast data
podcast_data = generate_podcast_data(num_rows, podcast_title, start_date, end_date)

podcast_data = pd.DataFrame(podcast_data)
podcast_data

,Podcast_ID,Podcast_Title,Episode_Number,Episode_Date,Host_Name
0,1,field hand together,1,22/04/2018,Deborah Diaz
1,2,field hand together,2,29/04/2018,Deborah Diaz
2,3,field hand together,3,06/05/2018,Deborah Diaz
3,4,field hand together,4,13/05/2018,Deborah Diaz
4,5,court occur keep,1,22/04/2018,David Mendez
...,...,...,...,...,...
1995,1996,bad deal a,4,13/05/2018,Chad Lee
1996,1997,when environment remain,1,22/04/2018,Barbara Morales
1997,1998,when environment remain,2,29/04/2018,Barbara Morales
1998,1999,when environment remain,3,06/05/2018,Barbara Morales
1999,2000,when environment remain,4,13/05/2018,Barbara Morales

In [47]:
user_playlists = []
np.random.seed(50)  # Set the seed for numpy random
random.seed(50)  # Set the seed for the built-in random module
Faker.seed(10)
for _ in range(10000):
    num_words = max(1, round(random.gauss(1, 2)))
    user_playlist_name = ' '.join(fake.words(nb=num_words))
    user_playlists.append(user_playlist_name)



user_playlist_public_private = np.random.choice(['public', 'private'], 10000)
user_playlist_track_podcast = np.random.choice(['track', 'podcast'], 10000)

user_playlist_df = pd.DataFrame({
"User_Playlist_ID" : range(1, 10001),
"Tite": user_playlists,
"public/private":user_playlist_public_private,
"track/podcast": user_playlist_track_podcast})

user_playlist_df

      User_Playlist_ID                       Tite public/private track/podcast
0                    1                      owner         public         track
1                    2                      alone         public       podcast
2                    3                      laugh        private       podcast
3                    4                    meeting        private         track
4                    5                participant        private       podcast
...                ...                        ...            ...           ...
9995              9996                      whose         public         track
9996              9997                   low very         public         track
9997              9998              health worker         public         track
9998              9999                       will        private       podcast
9999             10000  scientist nice my include        private       podcast

[10000 rows x 4 columns]

In [48]:
from fake_data_generator import *
def premium_subscription_df():
    np.random.seed(50)  # Set the seed for numpy random
    random.seed(50)  # Set the seed for the built-in random module
    # premium subscription
    ## 30000 premium subscriber
    ## out of 10000 which we'll give some cancels
    premium_subscription_table = generate_premium_subscription(10000, User())
    premium_subscription_table['Start Date'] = pd.to_datetime(premium_subscription_table['Start Date'], format='%d/%m/%Y', errors='coerce')
    premium_subscription_table['End Date'] = pd.to_datetime(premium_subscription_table['End Date'], format='%d/%m/%Y', errors='coerce')
    return premium_subscription_table



def transaction():
    np.random.seed(50)  # Set the seed for numpy random
    random.seed(50)  # Set the seed for the built-in random module

    # Generate the transaction dates and subscriber IDs
    transaction_dates, subscriber_ids = generate_transaction_dates(premium_subscription_df())

    # Create a new dataframe using payment_method, transaction_date, and subscriber ID
    transaction_data = pd.DataFrame({
        'Subscriber_ID': subscriber_ids,
        'Payment_Method': np.random.choice(['Credit Card', 'Debit Card', 'Paypal', 'Gift Card'], len(transaction_dates),
                                        p=[0.4, 0.4, 0.18, 0.02]),
        'Transaction_Date': transaction_dates
    })
    transaction_data['Transaction_Date'] = pd.to_datetime(transaction_data['Transaction_Date'], format='%d/%m/%Y')
    return transaction_data

In [49]:
from fake_tables import *

In [50]:
premium_subscription_table = premium_subscription_df()
transaction_table = transaction()

In [51]:
premium_subscription_table

      Subscriber ID Start Date   End Date Canceled or Not
0                 1 2018-04-21 2099-01-01           renew
1                 2 2018-05-14 2099-01-01           renew
2                 3 2018-03-13 2099-01-01           renew
3                 4 2018-08-19 2099-01-01           renew
4                 5 2018-03-13 2099-01-01           renew
...             ...        ...        ...             ...
9995           9996 2018-10-01 2099-01-01           renew
9996           9997 2019-03-02 2022-01-13          cancel
9997           9998 2018-10-27 2020-11-03          cancel
9998           9999 2020-12-01 2023-01-04          cancel
9999          10000 2020-10-13 2099-01-01           renew

[10000 rows x 4 columns]

In [52]:
transaction_table

        Subscriber ID Payment Method Transaction Date
0                   1     Debit Card       2018-04-21
1                   1    Credit Card       2018-05-21
2                   1    Credit Card       2018-06-21
3                   1    Credit Card       2018-07-21
4                   1    Credit Card       2018-08-21
...               ...            ...              ...
439001          10000    Credit Card       2023-07-13
439002          10000    Credit Card       2023-08-13
439003          10000    Credit Card       2023-09-13
439004          10000     Debit Card       2023-10-13
439005          10000         Paypal       2023-11-13

[439006 rows x 3 columns]

In [53]:
# Many to many


shuffled_track_ids = np.random.permutation(tracks_table["Track_ID"]).tolist()
shuffled_track_ids *= (len(df_with_sub)*7) // len(shuffled_track_ids) + 1  # Repeat to ensure enough values

# Create a new DataFrame with User_ID and randomly assigned Track_Id
user_tracks = pd.DataFrame({
    "User_ID": np.random.choice(df_with_sub["User_ID"], size=len(shuffled_track_ids), replace= True),
    "Track_ID": shuffled_track_ids
})
user_tracks

         User_ID  Track_ID
0         247732    442751
1         456157    298486
2          60353      7467
3         290437    101611
4         420339    294063
...          ...       ...
3999987   437898    367297
3999988   141738    363458
3999989   215586    424108
3999990   277121    442160
3999991   250781    244456

[3999992 rows x 2 columns]

In [54]:
# One to many



# Shuffle the Track_Id values and reset index
shuffled_track_ids = np.random.permutation(albums["Album_ID"]).tolist()
shuffled_track_ids *= len(tracks_table) // len(shuffled_track_ids) + 1  # Repeat to ensure enough values

# Create a new DataFrame with User_ID and randomly assigned Track_Id
album_tracks = pd.DataFrame({"Track_ID": tracks_table["Track_ID"], "Album_ID": shuffled_track_ids[:len(tracks_table)]})

album_tracks

        Track_ID  Album_ID
0              1       443
1              2       212
2              3       255
3              4       447
4              5       356
...          ...       ...
499994    499995        40
499995    499996       469
499996    499997       113
499997    499998       197
499998    499999       306

[499999 rows x 2 columns]

In [55]:
# One to many



# Shuffle the Track_Id values and reset index
shuffled_track_ids = np.random.permutation(artists['Artist_ID']).tolist()
shuffled_track_ids *= len(albums) // len(shuffled_track_ids) + 1  # Repeat to ensure enough values

# Create a new DataFrame with User_ID and randomly assigned Track_Id
album_artists = pd.DataFrame({"Album_ID": albums["Album_ID"], "Artist_ID": shuffled_track_ids[:len(albums)]})

album_artists

     Album_ID  Artist_ID
0           1         15
1           2         40
2           3        200
3           4          5
4           5         80
..        ...        ...
495       496         86
496       497         20
497       498        127
498       499        194
499       500        193

[500 rows x 2 columns]

In [56]:
# Many to many


# Shuffle the Track_Id values and reset index
shuffled_track_ids = np.random.permutation(artists['Artist_ID']).tolist()
shuffled_track_ids *= len(df_with_sub)*10 // len(shuffled_track_ids) + 1  # Repeat to ensure enough values

# Create a new DataFrame with User_ID and randomly assigned Track_Id
user_artists = pd.DataFrame({"User_ID": np.random.choice(df_with_sub["User_ID"], size=len(shuffled_track_ids), replace= True) \
                             , "Artist_ID": shuffled_track_ids})

user_artists

         User_ID  Artist_ID
0          24483         51
1         217462        191
2         180384          3
3         367581        122
4         428814        143
...          ...        ...
5000195   259610        160
5000196     8441        138
5000197   117409        163
5000198   187886         66
5000199   338805         30

[5000200 rows x 2 columns]

In [57]:
# Many to many



# Shuffle the Track_Id values and reset index
shuffled_track_ids = np.random.permutation(artists['Artist_ID']).tolist()
shuffled_track_ids *= len(df_with_sub)*10 // len(shuffled_track_ids) + 1  # Repeat to ensure enough values

# Create a new DataFrame with User_ID and randomly assigned Track_Id
user_artists = pd.DataFrame({"User_ID": np.random.choice(df_with_sub["User_ID"], size=len(shuffled_track_ids), replace= True) \
                             , "Artist_ID": shuffled_track_ids})

user_artists

         User_ID  Artist_ID
0          20860        101
1         396030        169
2         174049         45
3         200330        167
4         362356          3
...          ...        ...
5000195   496244         21
5000196   187777         53
5000197    52527        168
5000198   397714         46
5000199   204002         94

[5000200 rows x 2 columns]

In [58]:
# One to many



# Shuffle the Track_Id values and reset index
shuffled_track_ids = np.random.permutation(user_playlist_df['User_Playlist_ID']).tolist()
shuffled_track_ids *= len(df_with_sub) // len(shuffled_track_ids) + 1  # Repeat to ensure enough values

# Create a new DataFrame with User_ID and randomly assigned Track_Id
user_user_playlists = pd.DataFrame({"User_ID": df_with_sub["User_ID"], "User_Playlist_ID": shuffled_track_ids[:len(df_with_sub)]})

user_user_playlists

        User_ID  User_Playlist_ID
0             1              9801
1             2              5902
2             3              7345
3             4              4216
4             5              5048
...         ...               ...
499995   499996              3490
499996   499997              2392
499997   499998              5397
499998   499999              4454
499999   500000              7147

[500000 rows x 2 columns]

In [59]:
# One to many


# user_playlist_df["podcast"] - large
# podcast_data


# Shuffle the Track_Id values and reset index
shuffled_track_ids = np.random.permutation(podcast_data["Podcast_ID"]).tolist()
shuffled_track_ids *= len(user_playlist_df.loc[user_playlist_df["track/podcast"] == "podcast", "User_Playlist_ID"]) // len(shuffled_track_ids) + 1  # Repeat to ensure enough values

# Create a new DataFrame with User_ID and randomly assigned Track_Id
user_user_podcast = pd.DataFrame({"User_Playlist_ID": user_playlist_df.loc[user_playlist_df["track/podcast"] == "podcast", "User_Playlist_ID"], \
                                  "Podcast_ID": shuffled_track_ids[:len(user_playlist_df.loc[user_playlist_df["track/podcast"] == "podcast", "User_Playlist_ID"])]})

user_user_podcast

      User_Playlist_ID  Podcast_ID
1                    2         305
2                    3         515
4                    5        1895
5                    6        1339
6                    7         394
...                ...         ...
9990              9991        1010
9991              9992        1498
9992              9993         263
9998              9999          43
9999             10000        1148

[4971 rows x 2 columns]

In [60]:
# ! pip install XlsxWriter
# # Create an Excel writer using XlsxWriter as the engine
# writer = pd.ExcelWriter('group_project_faker.xlsx', engine='xlsxwriter')

# # Write each dataframe to a different worksheet
# df_with_sub.to_excel(writer, sheet_name='User', index=False)
# artists.to_excel(writer, sheet_name='Artist', index=False)
# albums.to_excel(writer, sheet_name='Album', index=False)
# tracks_table.to_excel(writer, sheet_name='Tracks', index=False)
# podcast_data.to_excel(writer, sheet_name='Podcasts', index=False)
# user_playlist_df.to_excel(writer, sheet_name='User Playlist', index=False)
# premium_subscription_table.to_excel(writer, sheet_name='Premium Subscription', index=False)
# transaction_table.to_excel(writer, sheet_name='Transactions', index=False)

# # Save the result
# writer.close()

In [61]:
# import sqlite3

# # Connect to the SQLite database (create one if it doesn't exist)
# conn = sqlite3.connect('D:\OneDrive - University at Buffalo\Projects\DMQL\group_project\group_project.db')

# # Write each dataframe to a different table in the database
# df_with_sub.to_sql('User', conn, index=False, if_exists='replace')
# artists.to_sql('Artist', conn, index=False, if_exists='replace')
# albums.to_sql('Album', conn, index=False, if_exists='replace')
# tracks_table.to_sql('Tracks', conn, index=False, if_exists='replace')
# podcast_data.to_sql('Podcasts', conn, index=False, if_exists='replace')
# user_playlist_df.to_sql('UserPlaylist', conn, index=False, if_exists='replace')
# premium_subscription_table.to_sql('PremiumSubscription', conn, index=False, if_exists='replace')
# transaction_table.to_sql('Transactions', conn, index=False, if_exists='replace')

# # Commit the changes and close the connection
# conn.commit()
# conn.close()

In [62]:
! pip install psycopg2
! pip install sqlalchemy
import psycopg2
from sqlalchemy import create_engine

# PostgreSQL connection parameters
pg_user = 'postgres'
pg_password = '*******'
pg_host = 'localhost'
pg_port = '5433'
pg_database = 'DMQL_project'

# Create a connection to PostgreSQL
engine = create_engine("postgresql://kecagi7371:WBxwqNPX9r0V@ep-solitary-poetry-a50h7kvl-pooler.us-east-2.aws.neon.tech/spotify_db?sslmode=require")
conn = engine.connect()

# conn.execute('CREATE SCHEMA IF NOT EXISTS public;')
# Write each DataFrame to a different table in the database
df_with_sub.to_sql('user', con=engine, index=False, if_exists='replace', schema='public')
artists.to_sql('artist', con=engine, index=False, if_exists='replace', schema='public')
albums.to_sql('album', con=engine, index=False, if_exists='replace', schema='public')
tracks_table.to_sql('tracks', con=engine, index=False, if_exists='replace', schema='public')
podcast_data.to_sql('podcasts', con=engine, index=False, if_exists='replace', schema='public')
user_playlist_df.to_sql('user_playlist', con=engine, index=False, if_exists='replace', schema='public')
premium_subscription_table.to_sql('premium_subscription', con=engine, index=False, if_exists='replace', schema='public')
transaction_table.to_sql('transactions', con=engine, index=False, if_exists='replace', schema='public')






user_tracks.to_sql('user_tracks', con=engine, index=False, if_exists='replace', schema='public')
album_tracks.to_sql('album_tracks', con=engine, index=False, if_exists='replace', schema='public')
album_artists.to_sql('album_artists', con=engine, index=False, if_exists='replace', schema='public')
user_artists.to_sql('user_artists', con=engine, index=False, if_exists='replace', schema='public')
user_user_playlists.to_sql('user_and_playlist', con=engine, index=False, if_exists='replace', schema='public')
user_user_podcast.to_sql('playlist_and_podcast', con=engine, index=False, if_exists='replace', schema='public')






# Close the connection
conn.close()

Requirement already satisfied: psycopg2 in c:\users\sujay\appdata\local\programs\python\python312\lib\site-packages (2.9.9)

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: sqlalchemy in c:\users\sujay\appdata\local\programs\python\python312\lib\site-packages (2.0.23)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\sujay\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (4.8.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\sujay\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (3.0.1)

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip